@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Role Management";
}

<h1>Role Management</h1>
<a asp-area="" asp-controller="Role" asp-action="Index" class="nav-item nav-link">View All Roles</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>FullName</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@ViewBag.UserProfiles[user.Id]</td>
                    <td>
                        @foreach (var role in ViewBag.UserRoles[user.Id])
                        {
                            <span class="badge bg-primary">@role</span>
                        }
                    </td>
                    <td class="d-flex">
                        <form asp-action="UpdateRole" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <select name="selectedRole">
                                @foreach (var role in ViewBag.AllRoles)
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-warning">Update</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
